# This is a basic workflow to help you get started with Actions

name: builder

# git push --tags 执行时候进行编译

on:
       workflow_dispatch:
  # 手动触发



# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3

      # Runs a single command using the runners shell
      - name: Setup Java JDK
        uses: actions/setup-java@v3
        with: 
            distribution: 'zulu'
            java-version: "17"
            token: ${{secrets.GITHUB_TOKEN}}

      - name: Flutter action
        uses: subosito/flutter-action@v2
        with:
            flutter-version: 3.7.0-1.5.pre
            channel: beta
      
      - name: Decode keystore
        run: |
          echo $ENCODED_KEYSTORE | base64 -di > android/app/keystore.jks
        env:
          ENCODED_KEYSTORE: ${{ secrets.KEYSTORE }}


      - name: Collect Apks
      - run: flutter pub get
      # build Entity
      - run: flutter pub run build_runner build
      # build
      # - run: flutter build apk
      - run: flutter build apk --split-per-abi
      # publish
      - name: Create Release
        uses: ncipollo/release-action@v1
        with:
          token: ${{ secrets.RElEASE_TOKEN }}
          artifacts: "build/app/outputs/apk/release/*.apk"
          
      # 发布安装包

      
  #发布构建的app
      - name: Upload built apk
        if: success()
        uses: actions/upload-artifact@v2
        with:
            name: Release_${{ env.VERSION }}.apk
            path: ${{ github.workspace }}/build/app/outputs/flutter-apk/${{ env.APK_FILE }}
